#
# ~/.profile
#
if ! (declare -f -F pathmunge > /dev/null ); then
	pathmunge () {
		if (test -d "$1") && ! (echo $PATH | /bin/egrep -q "(^|:)$1($|:)") &> /dev/null; then
			if [ "$2" = "after" ] ; then
				PATH=$PATH:$1
			else
				PATH=$1:$PATH
			fi
		fi
	}
fi

command_exists () {
	command -v "$1" &> /dev/null
}

fallback_commands () {
	for command in "$@"
	do
		if command_exists $command; then
			echo $command
			break
		fi
	done
}

# homebrew
{{ if eq .chezmoi.os "darwin" }}
export BREW_PREFIX=/opt/homebrew
{{ else if eq .chezmoi.os "linux" }}
export BREW_PREFIX=/home/linuxbrew/.linuxbrew
{{ end }}
if [ -d $BREW_PREFIX ]; then
	eval "$($BREW_PREFIX/bin/brew shellenv)"
fi
export HOMEBREW_NO_AUTO_UPDATE=1

# rust
if [ -f $HOME/.cargo/env ]; then
	source "$HOME/.cargo/env"
fi

# deno
pathmunge $HOME/.deno/bin

# bun
if [ -f $HOME/.bun ]; then
	export BUN_INSTALL="$HOME/.bun"
	pathmunge $BUN_INSTALL/bin
	source "$BUN_INSTALL/_bun"
fi

# android
if [ -d "$HOME/Library/Android/sdk" ]; then
	export ANDROID_HOME=$HOME/Library/Android/sdk
	pathmunge $ANDROID_HOME/tools
	pathmunge $ANDROID_HOME/platform-tools
fi

# flutter
pathmunge $HOME/.local/share/flutter/bin

# gcloud sdk
pathmunge $HOME/.local/share/google-cloud-sdk/bin

# golang
pathmunge $HOME/go/bin
pathmunge $HOME/.local/share/go/bin
if command_exists go; then
	pathmunge "$(go env GOBIN)"
	pathmunge "$(go env GOPATH)/bin"
	export GO111MODULE=on
fi

# snapcraft
pathmunge /var/lib/snapd/snap/bin

# node
if command_exists npm; then
	pathmunge "$(npm get prefix)/bin"
fi
if command_exists yarn; then
	pathmunge "$(yarn config get prefix)/bin"
fi

# python
if command_exists python3; then
	alias python=python3
	alias pip="python3 -m pip"
	pathmunge "$(python3 -m site --user-base)/bin"
fi

# ruby
if command_exists ruby && command_exists gem; then
	pathmunge "$(ruby -r rubygems -e 'puts Gem.user_dir')/bin"
fi

# java
# Add function to switch between java versions without source ~/.profile
# Usage: chjava 11
chjava () {
	if command_exists /usr/libexec/java_home && /usr/libexec/java_home >/dev/null 2>&1 ; then
		export JAVA_VERSION=$1
		export JAVA_HOME="$(/usr/libexec/java_home)"
		pathmunge "$JAVA_HOME/bin"
	fi
}
# alias chjava=". chjava"
chjava 17

# containerd
if command_exists colima; then
	alias nerdctl="colima nerdctl"
fi
alias n="nerdctl"

# kubernetes
# add all configs in .kube/conf.d
export KUBECONFIG="$HOME/.kube/config"
for i in $(ls $HOME/.kube/conf.d/* 2>/dev/null); do
	export KUBECONFIG=$KUBECONFIG:$i
done
pathmunge "${KREW_ROOT:-$HOME/.krew}/bin"
alias k="kubectl"

# MANPAGER, EDITOR
export EDITOR="$(fallback_commands nvim vim vi)"
if command_exists bat; then
	export MANPAGER="sh -c 'col -bx | bat -l man -p'"
fi

# Jetbrains toolbox
{{ if eq .chezmoi.os "darwin" -}}
pathmunge "$HOME/Library/Application Support/JetBrains/Toolbox/scripts"
{{ else if eq .chezmoi.os "linux" -}}
pathmunge "$HOME/.local/share/JetBrains/Toolbox/scripts"
{{- end }}

# Sublime merge
{{ if eq .chezmoi.os "darwin" }}
pathmunge /Applications/Sublime\ Merge.app/Contents/SharedSupport/bin
{{ end }}

# use trash instead of rm
function del() {
	trash $*
}

alias rm="echo Use 'del', or the full path i.e. '/bin/rm'"

# miscs
pathmunge ~/.local/bin
if ! command_exists wget; then
	alias wget="curl -O --continue-at -"
fi
