# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
name = Jang Whemoon
email = palindrom615@gmail.com
[credential]
	helper = store
[include]
	path = ~/Secrets/.gitconfig
[includeIf "gitdir:~/Works/"]
	path = ~/Works/.gitconfig

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = vim
	pager = delta --plus-color="#012800" --minus-color="#340001" --theme='Monokai Extended'
[interactive]
    diffFilter = delta --color-only
[merge]
	conflictstyle = diff3
[rerere]
	enabled = true
