# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = jang whoemoon
	email = palindrom615@gmail.com
[credential]
	helper = store
[include]
	path = ~/Secrets/.gitconfig
[includeIf "gitdir:~/Works/"]
	path = ~/Works/.gitconfig

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = vim
	precomposeunicode = true
	autocrlf = input
	excludesFile = ~/.config/git/ignore

[rerere]
	enabled = false
[pull]
	rebase = true
[init]
	defaultBranch = main

{{- if lookPath "smerge" }}
[mergetool "smerge"]
	# https://www.sublimemerge.com/docs/command_line
	cmd = smerge mergetool "$BASE" "$LOCAL" "$REMOTE" -o "$MERGED"
	trustExitCode = true
[merge]
	tool = smerge
{{- end }}

