# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = jang whoemoon
	email = palindrom615@gmail.com
[credential]
{{- if lookPath "git-credential-manager" }}
	helper = git-credential-manager
{{- end }}
[include]
	path = ~/Secrets/.gitconfig
[includeIf "gitdir:~/Works/"]
	path = ~/Works/.gitconfig

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = vim
	precomposeunicode = true
	autocrlf = input
	longpaths = true
	excludesFile = ~/.config/git/ignore
{{- if lookPath "delta" }}
	pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[merge]
    conflictstyle = zdiff3
{{- end }}

[rerere]
	enabled = false
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main

{{- if lookPath "smerge" }}
[mergetool "smerge"]
	# https://www.sublimemerge.com/docs/command_line
	cmd = smerge mergetool "$BASE" "$LOCAL" "$REMOTE" -o "$MERGED"
	trustExitCode = true
[merge]
	tool = smerge
{{- end }}

